.movie-poster {
  width: 5rem;
  height: 9rem;
}
.line-div {
  margin-bottom: -15px;
  margin-top: -5px;
}
.mt-15 {
  margin-top: 15px;
}

.time {
  margin-bottom: -15px;
  margin-top: 10px;
}
.showMovie {
  justify-items: center;
  justify-content: center;

  display: grid;
}
